*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(to right, #6c5aad, #9face6);
}

/* App Container */
.app{
    width:380px;
    height:550px;
      background: linear-gradient( #6e5270, #9face6);
    border-radius:20px;
    padding:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

/* Header */
.header{
    display:flex;
    align-items:center;
    gap:5px;
    font-weight:bold;
    font-size:18px;
}

.weather-img img{
    margin-top: 30px;
    width:60px;
    height:60px;
}

/* Center Weather Icon */
.main-icon{
    text-align:center;
    margin:20px 0;
}

.main-icon span{
    font-size:70px;
    color:orange;
}

/* Temperature Section */
.temp-section{
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.temp-left{

    font-size:50px;
    font-weight:bold;
}

.temp-right{
    text-align:right;
}

.temp-right h3{
    font-size:14px;
}

.temp-right p{
    font-size:12px;
}

/* Cards Section */
.cards{
    display:flex;
    gap:10px;
    margin-top:40px;
}

/* Card Style */
.card{
    flex:1;
    padding:10px;
    border-radius:15px;
    background:#f2f2f2;
    text-align:center;
}

/* Small icon */
.card span{
    font-size:30px;
    color:orange;
}

/* Bottom Nav */
.nav{
    display:flex;
    justify-content:space-around;
    margin-top:20px;
    padding-top:10px;
    border-top:1px solid #ddd;
}

.nav span{
    font-size:25px;
    cursor:pointer;
}
.weather-img img{
    display:flex;
    justify-content:center;
    margin-left:23%;
    height:auto;
    width:150px;
}

.weather_small_img img{
   
    width:30px;
    height:30px;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    opacity: 0.6;
}

.nav a.active {
    color: rgb(76, 7, 238);
    opacity: 1;
    transform: scale(1.2);
}

.Container {
      width:380px;
    height:550px;
      background: linear-gradient( #6e5270, #9face6);
    border-radius:20px;
    padding:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(0px);
}
 
#search{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
}

#search:focus{
    outline: none;
}

.extra{

}
.extra {
    display: flex;
    justify-content: space-between;  /* pushes left & right */
    gap: 10px;
    margin-top: 20px;
}

#Sunrise, #Sunset {
    flex: 1;                      /* equal width */
    display: flex;
    flex-direction: column;       /* vertical content */
    align-items: center;          /* center inside */
    justify-content: center;
}


.main-weather{
   
    width:auto;
    height:200px;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.temp-widget{
      flex:1;
    padding:10px;
    border-radius:15px;
    background:#f2f2f2;
    text-align:center;
    height:200px;
}
.Wind, .Pressure, .Humidity{
  flex:1;
    padding:10px;
    border-radius:15px;
    background:#f2f2f2;
    text-align:center;
}
